@model persentation_WorkoutR.Models.personModel
@using persentation_WorkoutR.Models
@{
    ViewBag.Title = "View";
}
<style>
    /*img {
        max-width: 150%;
        height: auto;
        width: auto;
    }*/
    #header {
        background-color: black;
        color: white;
        width: 100%;
        text-align: center;
        padding: 5px;
    }

    .left {
        width: 100px;
        float: left;
        text-align: left;
    }

    .right {
        width: 100px;
        float: left;
        text-align: right;
    }

    hr {
        margin: 10px 0;
        border: 1px thin;
    }

    #nav {
        line-height: 30px;
        background-color: #eeeeee;
        height: 350px;
        width: 25%;
        float: left;
        padding: 5px;
        min-width: 250px;
    }


    #section {
        width: 75%;
        padding-left: 120px;
        padding-top: 25px;
        padding-left:37%;
    }
    @@media only screen and (max-width:992px) {
        #section {
            width: 95%;
            height: auto;
            padding-left: 120px;
            padding-top: 25px;
            padding-left: 45%;
        }
    }
    @@media only screen and (max-width:767px)
    {
        #section {
            padding-left: 55%;
        }
    }
    @@media only screen and (max-width:500px) {
        #section {
            padding-left: 65%;
        }
    }

    @@media only screen and (max-width:432px) {
        #section {
            padding-left: 75%;
        }
    }
</style>
<div id="header" style="min-width:323px">
    <h1>Welcome, @Html.DisplayFor(m => m.personFirstName)</h1>
</div>
<div id="nav">
    <div class="left">First Name:</div> <div class="right">@Html.DisplayFor(m => m.personFirstName)</div><br />
    <hr />
    <div class="left">Last Name:</div> <div class="right">@Html.DisplayFor(m => m.personLastName)</div><br />
    <hr />
    <div class="left">Phone #:</div> <div class="right">@Html.DisplayFor(m => m.personPhone)</div><br />
    <hr />
    <div class="left">Address:</div> <div class="right">@Html.DisplayFor(m => m.personAddress)</div><br />
    <hr />
    <div class="left">City:</div> <div class="right">@Html.DisplayFor(m => m.personCity)</div><br />
    <hr />
    <div class="left">State:</div> <div class="right">@Html.DisplayFor(m => m.personState)</div><br />
    <hr />
    <div class="left">Zipcode:</div> <div class="right">@Html.DisplayFor(m => m.personZip)</div><br />
    <hr />
    @if ((int)Session["FK_roleID"] == 1 || (int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
    {
        @Html.ActionLink("Edit Profile", "updatePerson", "person", Model, null) <i style="padding:10px"></i>
        <br />
        @Html.ActionLink("Update User/Password", "updatePassPerson", "person", Model, null)
        <br />
    }
</div>
<div id="section">
    <p class="text-right">
        @if ((int)Session["FK_roleID"] == 1 || (int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
        {
            <a href='@Url.Action("viewRoutine", "routine")'>
                <img src="~/images/BeFunky-photo.jpg" style="width:600px; height:250px;"/>
            </a>
        }
    </p><br />
    <p class="text-right">
        @if ((int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
        {
            <a href='@Url.Action("viewPerson", "person")'>
                <img src="~/images/Legend_Fitness_HappyMembers.jpg" style="width:600px; height:250px" />
            </a>
        }
    </p><br />
    <p class="text-right">
        @if ((int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
        {
            <a href='@Url.Action("viewExercise", "exercise")'>
                <img src="~/images/dumbbells_gym_weight_disks_118338_1920x1080.jpg" style="width:600px; height:250px" />
            </a>
        }
    </p><br />
</div>
<br />
<br />