@model persentation_WorkoutR.Models.personModel
    @using persentation_WorkoutR.Models
@{
    ViewBag.Title = "profile";
}
<h2> User Profile </h2>
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">

                    </div>
                    <div class="profile-usertitle-job">


                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->

                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                @Html.DisplayFor(m => m.personFirstName)
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                @if ((int)Session["FK_roleID"] ==1 || (int)Session["FK_roleID"] == 2|| (int)Session["FK_roleID"] == 3)
                                {
                                    @Html.ActionLink("Profile", "updatePerson", "person", Model, null);                                  
                                }
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                @if ((int)Session["FK_roleID"] == 1 || (int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
                                {
                                    @Html.ActionLink("My routines", "viewRoutine", "routine")

                                }
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                @if ((int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
                                {
                                    @Html.ActionLink("Members", "viewPerson", "person")
                                }
                            </a>
                        </li>
                        <li>
                            <a href="#">              
                                @if ((int)Session["FK_roleID"] == 2 || (int)Session["FK_roleID"] == 3)
                                {
                                    @Html.ActionLink("Exercise", "viewExercise", "exercise")

                                }
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                Some user related content goes here...
            </div>
        </div>
    </div>
</div>

