@model persentation_WorkoutR.Models.viewModel
@using persentation_WorkoutR.Models
@{
    ViewBag.Title = "viewExercise";
}

<br />
<h2>List of Exercises</h2>
<br />

@using (Html.BeginForm("viewExercise", "exercise", FormMethod.Post))
{
<table style="width:100%">
    <colgroup span="2" align="left"></colgroup>
    <colgroup align="right"></colgroup>
    <tr style="font-size:16px">
        <th>Exercise Name</th>
        <th>Exercise Description</th>
    </tr>
    @foreach (exerciseModel exercise in Model.exerciseList)
    {
        <tr style="font-size:14px">
            <td>@Html.DisplayFor(m => exercise.exerciseName)</td>
            <td>@Html.DisplayFor(m => exercise.exerciseDescription)</td>
            <td>@Html.ActionLink("Update", "updateExercise", exercise)<i class="fa fa-edit" style="font-size:14px; color:red; padding:5px"></i> </td>
            <td>@Html.ActionLink("Delete", "deleteExercise", routeValues: new { _deleteExercise = exercise.exerciseID })<i class="fa fa-trash" style="font-size:14px; color:red; padding:5px"></i> </td>
        </tr>
    }
</table>
}
<br />
<h3>Add Exercise</h3>
<i class="fa fa-plus" style="font-size:17px; color:red; padding:5px"></i>
<td>@Html.ActionLink("Add", "addExercise", "exercise") </td>

